{
	"env": {
    "es6": true,
		"browser": true
	},
	"extends": [
		"plugin:react/recommended",
		"react-app"
	],
	"plugins": ["react"],
	"rules": {
		"no-unused-vars": 2,
		"eqeqeq": 2,
		"no-console": [2, { "allow": ["warn", "error"] }],
		"indent": [2, 2],
		"quotes": [2, "double", "avoid-escape"],
		"semi": 2,
		"react/display-name": 2,
		"react/no-unescaped-entities": 0,
		"react/prop-types": 0,
		"react/jsx-no-bind": 2
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	}
}