.about-page {
  height: 100%;
  font-size: 80%;
  position: static;

  h1,
  h2,
  h3 {
    font-weight: 200;
    font-variant: small-caps;
    margin: 1vh 0;
  }
  p {
    font-size: 80%;
  }

  .about-story {
    article {
      padding: 1vh 0;
      height: calc(100vh - #{$header-height});
      &.parallax {
        background-attachment: fixed;
        background-position: 70% bottom;
        background-size: 20% auto;
        background-repeat: no-repeat;
        @media screen and (max-width: 900px) {
          background-attachment: scroll;
          height: auto;
          background-size: auto 80vh;
          background-position: center bottom;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
        }
      }
      .article-text-content {
        width: 60%;
        opacity: 0.8;
        height: 100%;
        @media screen and (max-width: 900px) {
          width: 100%;
          padding-bottom: 100vh;
          -webkit-mask-image: linear-gradient(
            to top,
            transparent 35%,
            black 55%
          );
          mask-image: linear-gradient(to top, transparent 35%, black 55%);
        }
      }
    }
  }

  .about-media {
    margin: #{$header-height} 0 0 0;
    height: calc(100vh - #{$header-height});
    display: flex;
    align-items: center;
    justify-content: center;
    .media-youtube-container {
      width: 100%;
      height: 50%;
      .media-youtube {
        width: 100%;
        height: 100%;
      }
    }
  }

  .about-socials {
    margin: #{$header-height} 0 0 0;
    height: calc(100vh - #{$header-height});
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .socials-item {
      display: block;
      height: 1.5em;
      margin: 0.5em;
      > svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// .alex-bubble {
//   position: fixed;
//   width: vp(20);
//   height: vp(20);
//   border-radius: 50%;
//   bottom: 0;
//   right: 0;
//   background-color: $main-color;
//   transform: translate3d(80%, 80%, 0);
//   z-index: 1;
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
//   transition-duration: 0.8s;
//   transition-timing-function: cubic-bezier(0.87, -0.41, 0.19, 1.44);
//   &:hover {
//     transform: translate3d(50%, 50%, 0);
//   }
//   .alex-bubble-content {
//     width: calc(50% - 5% * 2);
//     height: 50%;
//     margin: 25% 2% 0 8%;
//     > span {
//       font-size: 70%;
//       display: block;
//       text-align: center;
//     }
//     > a {
//       font-size: 50%;
//       display: block;
//       margin: 5% 0;
//       text-align: center;
//       text-decoration: underline;
//     }
//   }
// }
