.publication-card {
  margin: calc(var(--space) * 2) 0;
  width: 1000px;

  @media screen and (max-width: 1024px) {
    width: calc(100% - 0.5rem * 2);
  }
  .cover-img {
    width: 100%;
    border-radius: 5px;
  }
  .title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  .description {
    font-size: 80%;
  }
  .tag-list {
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
  }
  .meta-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 90%;
  }
}
