.experience-item {
  margin-bottom: var(--space);
  &:hover {
    .about {
      opacity: 1;
    }
  }

  .about {
    transition: 0.2s;
    opacity: 0.8;
    margin-bottom: calc(var(--space) / 2);
  }

  .title {
    margin-bottom: calc(var(--space) / 4);
    cursor: context-menu;
    width: fit-content;
  }

  .time {
    margin-bottom: calc(var(--space) / 2);
  }
}
