.publications-control-panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  font-size: 32px;
  line-height: 1;

  .panel-texts {
    h1 {
      font-weight: normal;
      font-size: 150%;
      text-transform: uppercase;
    }
    h2 {
      font-weight: 100;
      font-size: 60%;
      text-transform: lowercase;
    }
  }
}

.publications-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
