@import "./ThemeStyles.scss";

.app-container {
  width: 100%;
  height: 100vh;
  transition: 1s;
  *::selection {
    background: gold;
  }
  .page {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .button {
    position: relative;
    background-color: $main-color;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    z-index: 2;
  }
}
