@import "./ThemeStyles.scss";

.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: 1s;
  *::selection {
    background: gold;
  }
  .page {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
  }
  .button {
    border: none;
    position: relative;
    background-color: $main-color;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    color: $dark-main-color;
    transition: 0.5s;
  }
  .post {
    display: block;
    padding: 1em 1.5em;
    transition: 0.5s;
    background: linear-gradient(
      to right,
      $main-color 0%,
      $main-color 50%,
      transparent 50%,
      transparent 100%
    );
    background-position: calc(100% + 1em) 0%;
    background-size: 200%;
    * {
      transition: 0.2s;
    }
    &:hover {
      background-position: 0% 0%;
      z-index: 5;
      color: $dark-main-color;
      * {
        color: $dark-main-color;
        opacity: 1;
      }
    }
  }

  .header-compensator {
    padding-top: calc(60px + 1em);
    height: calc(100% - 60px - 1em);
  }

  .page-text-wrapper {
    width: 60%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 900px) {
      width: 80%;
    }
    @media screen and (max-width: 480px) {
      width: 90%;
    }
  }

  .offline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($main-color, 0.3);
    &::before {
      display: block;
      content: "Offline mode";
    }
    * {
      display: none;
    }
  }
}
