.app-container {
  width: 100%;
  height: 100vh;
  transition: 1s;

  &.dark-theme {
    background-color: $dark-main-color;
    color: $dark-second-color;
    border-color: $light-main-color;
  }

  &.light-theme {
    background-color: $light-main-color;
    color: $light-second-color;
  }

}
