.blog-list {
  .blog-link {
    display: block;
    // flex-direction: column;
    // align-items: space-between;
    border: 1px solid $main-color;
    padding: 10px;
    margin: 10px 0;
    font-size: 50%;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
      background-color: $main-color;
      transform: scale(1.1);
      z-index: 5;
      p {
        opacity: 1;
      }
    }
    h3 {
      width: 100%;
      font-size: 150%;
      font-weight: 300;
      margin: 0 0 10px 0;
    }
    p {
      max-height: 5em;
      margin: 0 0 10px 0;
      text-indent: 1em;
      font-weight: 200;
      font-size: 90%;
      opacity: 0.8;
      transition: 0.5s;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }
    .blog-date {
      width: 100%;
      margin: 3em 0 0 0;
      opacity: 0.7;
      font-size: 90%;
      font-style: italic;
      text-align: right;
      border-top: 1px solid black;
    }
  }
}
