// Dark theme variables
$dark-main-color: black;
$dark-second-color: white;
$main-color: gold;

// Dark theme variables
$light-main-color: white;
$light-second-color: black;

.hidden {
  display: none;
}
