// Dark theme variables
$dark-main-color: black;
$dark-second-color: white;
$main_bg_colors: (
  rgb(0, 255, 221),
  rgb(0, 162, 255),
  rgb(76, 0, 255)
);

// Dark theme variables
$light-main-color: white;
$light-second-color: black;