// color theme variables
$dark-main-color: #000000;
$light-main-color: #ffffff;
$dark-second-color: #ffffff;
$light-second-color: #000000;
$main-color: #ffd700;

// fonts
$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
  sans-serif;
$second-font: Georgia, serif;

// sizes
$header-height: 60px;
$mq-mobile: 480px;
$mq-laptop: 900px;

.hidden {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
