a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  &:hover {
    opacity: 0.6;
  }
}

.text {
  line-height: 1.5;
  font-size: 0.9rem;
  opacity: 1;
  margin-bottom: calc(var(--space) / 2);
  &:last-of-type {
    margin-bottom: 0;
  }
}

.secondary-text {
  font-weight: 200;
  text-transform: lowercase;
  font-size: 0.8rem;
}

.section-title {
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: var(--space);
}

.highlighted {
  font-weight: 500;
  opacity: 1;
}

.label {
  @extend .highlighted;
  margin-bottom: calc(var(--space) / 2);
}
