.main-page {
  width: calc(100% - 20px*2);
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-index {
  @extend .main-page;
  background-color: inherit;
  text-align: left;
  flex-direction: column;

  h1 {
    width: 100%;
    font-size: 80%;
    font-weight: 200;
    font-variant: small-caps;
    margin: 1vh 0;
  }
  span {
    font-size: 200%;
    width: 100%;
  }
}
.main-about {
  @extend .main-page;
  flex-direction: column;
}
.main-calendar {
  @extend .main-page;
}
.main-portfolio {
  @extend .main-page;
}
.main-blog {
  @extend .main-page;
}