.main-page {
  width: calc(100% - 20px*2);
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-index {
  @extend .main-page;
  background-color: inherit;
  text-align: left;
  flex-direction: column;

  h1 {
    width: 100%;
    font-size: 80%;
    font-weight: 200;
    font-variant: small-caps;
    margin: 1vh 0;
  }
  span {
    font-size: 200%;
    width: 100%;
  }
}
.main-about {
  @extend .main-page;
  .about-text-block {
    width: 100%;
    h2 {
      width: 100%;
      font-size: 200%;
      font-weight: 400;
    }
    p {
      width: 100%;
      font-weight: 200;
      font-size: 80%;
      font-variant: small-caps;
      margin: 1vh 0;
      .toltip-name {
        display: inline-block;
        text-align: center;
      }
    }
    .button {
      position: relative;
      background-color: $main-color;
      padding: 10px 20px;
      border-radius: 2px;
      text-transform: uppercase;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      z-index: 2;
    }
  }
  @import "./SkillsChart.scss";
} 
.main-calendar {
  @extend .main-page;
}
.main-portfolio {
  @extend .main-page;
}
.main-blog {
  @extend .main-page;
}