.main-page {
  width: calc(100% - 80px*2);
  height: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 480px) {
    width: calc(100% - 20px*2);
    padding: 0 20px;
  }
}

.main-index {
  @extend .main-page;
  background-color: inherit;
  text-align: left;
  flex-direction: column;

  h1 {
    width: 100%;
    font-size: 60%;
    font-weight: 200;
    font-variant: small-caps;
    margin: 1vh 0;
  }
  span {
    font-size: 150%;
    width: 100%;
  }
}
.main-about {
  @extend .main-page;
  .about-text-block {
    width: 100%;
    h2 {
      width: 100%;
      font-size: 150%;
      font-weight: 400;
    }
    p {
      width: 100%;
      font-weight: 200;
      font-size: 60%;
      font-variant: small-caps;
      margin: 1vh 0;
      .toltip-name {
        display: inline-block;
        text-align: center;
      }
    }
    .button {
      margin-top: 0.5vh;
    }
  }
  @import "./SkillsChart.scss";
} 
.main-calendar {
  @extend .main-page;
  .calendar-block {
    width: 100%;
    h2 {
      width: 100%;
      font-size: 150%;
      font-weight: 400;
    }
    p {
      width: 100%;
      font-weight: 200;
      font-size: 60%;
      font-variant: small-caps;
      margin: 1vh 0;
      .toltip-name {
        display: inline-block;
        text-align: center;
      }
    }
    .button {
      margin-top: 0.5vh;
    }
    .calendar-wrap {
      width: 100%;
      height: 20vh;
      @media screen and (max-width: 480px) {
        height: auto;
      }
    }
  }
}
.main-portfolio {
  @extend .main-page;
  .portfolio-text-block {
    flex: 50%;
    h2 {
      width: 100%;
      font-size: 150%;
      font-weight: 400;
    }
    .portfolio-project-text {
      font-size: 50%;
      border-left: 1em solid $main-color;
      padding: 0 0 0 1em;
      h3 {
        width: 100%;
        font-size: 150%;
        font-weight: 200;
        margin: 1em 0 0 0;
      }
      p {
        margin: 0.5em 0 1em 0;
      }
    }
  }
  .portfolio-devices-container {
    flex: 50%;
    width: 50%;
    height: 40vw;
  }
  @media screen and (max-width: 900px) {
    flex-direction: column;
    .portfolio-text-block {
      flex: 0 1 10%;
      width: 100%;
    }
    .portfolio-devices-container {
      flex: 0 0 35%;
      width: 100%;
    }
  }
}
.main-blog {
  @extend .main-page;
}