.navigation {
  height: 100%;
  .tabs-content {
    height: 100%;
    .react-swipeable-view-container {
      height: 100%;
    }
  }
  .tabs-panel {
    position: fixed;
    margin: 10px 20px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    font-weight: 100;
    .tab {
      margin: 0 20px 0 0;
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      .text {
        display: inline;
      }
      .icon {
        display: none;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        transition: 0.5s;
        border-bottom: 1.5px solid;
      }
      &.active-tab {
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      margin: 10px 0;
      .tab {
        flex: 1 0 20px;
        max-width: 40px;
        margin: 0 6vw;
        transition: 0.5s;
        .text {
          display: none;
        }
        .icon {
          display: block;
        }
        &::after {
          display: none;
        }
        &.active-tab {
          transform: translateY(-10px);
        }
      }
    }
  }
  .navigation-arrows {
    font-weight: 100;
    font-stretch: extra-condensed;
    .left {
      position: fixed;
      top: 50%;
      left: 20px;
    }
    .right {
      position: fixed;
      top: 50%;
      right: 20px;
    }
  }
}