#skillsChart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .sunburstTooltip {
    font-size: 60%;
    z-index: 10;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    background-color: $main_bg_colors;
    width: 100%;
    transition: 0.2s;

    .toltip-name {
      display: block;
    }
    .toltip-value {
      display: block;
      font-size: 200%;
    }
  }
}