#skillsChart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    // border: 1.5px solid $main_bg_colors;
    // border-radius: 0 0 4px 4px;
    path {
      transition: fill 0.3s;
    }
  }


  .sunburstTooltip {
    font-size: 60%;
    z-index: 10;
    padding: 10px 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
    // background-color: $main_bg_colors;
    width: 100%;
    transition: 0.3s;
    opacity: 0;

    .toltip-name {
      display: block;
    }
    .toltip-value {
      display: block;
      font-size: 200%;
    }
  }
}