#skillsChart {
  position: relative;
  .sunburstTooltip {
    position: absolute;
    font-size: 50%;
    z-index: 10;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    background-color: $main_bg_colors;
    top: -100px;
    left: 0;
    width: 100%;

    .toltip-name {
      display: block;
    }
    .toltip-value {
      display: block;
      font-size: 200%;
    }
  }
}