.dark-theme {
  background-color: $dark-main-color;
  color: $dark-second-color;
  border-color: $dark-second-color;
  fill: $dark-second-color;

  .theme-color-main {
    color: $dark-main-color;
  }

  .theme-fill-main {
    fill: $dark-main-color;
  }

  .theme-background-main {
    background-color: $dark-main-color;
  }

  .theme-color-second {
    color: $dark-second-color;
  }

  .theme-fill-second {
    fill: $dark-second-color;
  }

  .theme-background-second {
    background-color: $dark-second-color;
  }
}

.light-theme {
  background-color: $light-main-color;
  color: $light-second-color;
  border-color: $light-second-color;
  fill: $light-second-color;

  .theme-color-main {
    color: $light-main-color;
  }

  .theme-fill-main {
    fill: $light-main-color;
  }

  .theme-background-main {
    background-color: $light-main-color;
  }

  .theme-color-second {
    color: $light-second-color;
  }

  .theme-fill-second {
    fill: $light-second-color;
  }

  .theme-background-second {
    background-color: $light-second-color;
  }
}