---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import Publications from '../containers/Publications';
import '../styles/globals.css';

// For now, we'll use static data. Later this can be replaced with actual data fetching
const staticPublications = [];
---

<Layout title="Blog - Alexandr Tovmach" description="Articles and publications by Alexandr Tovmach">
  <div class="min-h-screen flex flex-col">
    <Header client:load />
    <div class="flex-1">
      <Publications client:load publications={staticPublications} />
    </div>
    <Footer client:load />
  </div>
</Layout>
