@import "constants.scss";
@import "../../../scenes/Main/MainPage.scss";

.main-calendar {
  @extend .main-page-section;
  .calendar-block {
    width: 100%;
    .button {
      margin-top: 0.5vh;
    }
    .calendar-wrap {
      width: 100%;
      height: 30vh;
      @media screen and (max-width: $mq-mobile) {
        // height: 150px;
      }
    }
  }
}
