@import "constants.scss";
@import "../../../scenes/Main/MainPage.scss";

.main-blog {
  @extend .main-page-section;
  flex-direction: column;
  .blog-list {
    width: 100%;
    margin: 20px 0;
  }
}
