@import "constants.scss";
@import "../../../scenes/Main/MainPage.scss";

.main-about {
  @extend .main-page-section;
  .about-text-block {
    width: 100%;
    .toltip-name {
      display: inline-block;
      text-align: center;
    }
    .button {
      margin-top: 0.5vh;
    }
  }
}
