---
import Layout from '../layouts/Layout.astro';
import CVPaper from '../containers/CV';
import '../styles/globals.css';

const description = "I believe that masterpieces are created with pure enthusiasm, not for money, which is why I am an open source advocate and an open adventurer.";
---

<Layout 
  title="CV - Alexandr Tovmach" 
  description={description}
  image="/src/assets/images/cv_preview.png"
>
  <div class="min-h-screen">
    <CVPaper client:load />
  </div>
</Layout>
