.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  > div,
  article {
    width: 300px;
    margin: 0.5rem;
  }

  article {
    > * {
      margin-bottom: 0.5rem;
    }

    h1 {
      font-weight: 700;
    }
  }
}
