---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import Home from '../containers/Home';
import '../styles/globals.css';
---

<Layout title="Alexandr Tovmach - Full Stack Engineer & UI/UX Designer">
  <div class="min-h-screen flex flex-col">
    <Header client:load />
    <div class="flex-1">
      <Home client:load />
    </div>
    <Footer client:load />
  </div>
</Layout>
