.stats {
  section {
    .bookShelf {
      display: flex;
      max-width: 100vw;
      overflow: auto;
      > li {
        height: 300px;
        background-color: darkolivegreen;
        writing-mode: vertical-rl;
        text-orientation: sideways-right;
        margin: 0 calc(var(--space) / 10);
        padding: calc(var(--space) / 2);
        color: white;
        font-weight: bold;
        vertical-align: baseline;
        line-height: 1;
        display: flex;
        text-align: end;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

        h3 {
          text-transform: uppercase;
        }
        span {
          font-weight: 100;
          font-size: 70%;
        }
      }
    }
  }
}
