.stats {
  section {
    // .bookShelf {
    //   position: relative;
    //   display: flex;
    //   background-image: linear-gradient(
    //     transparent 40%,
    //     rgba(0, 0, 0, 0.4) 85%,
    //     #d3d3d3 92%,
    //     #d3d3d3 92%,
    //     #b3b3b3 92%
    //   );
    //   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);

    //   .duck {
    //     height: 150px;
    //     margin-left: calc(var(--space) * 10);
    //     margin-bottom: -10px;
    //     align-self: flex-end;
    //     opacity: 0.8;
    //     background-image: radial-gradient(
    //       70% 20% at center 90%,
    //       black,
    //       transparent 60%
    //     );
    //   }

    //   > a {
    //     border-bottom: none;
    //     transform: rotateZ(-8deg);
    //     transform-origin: top center;
    //     &:hover {
    //       opacity: 1;
    //     }
    //     &::before {
    //       content: '';
    //       position: absolute;
    //       bottom: 0;
    //       left: 1px;
    //       right: 5px;
    //       height: 10px;
    //       background: black;
    //       transform: rotateZ(8deg);
    //       box-shadow: 6px -1px 3px 5px black;
    //     }
    //     &:last-of-type {
    //       &::before {
    //         right: 13px;
    //         box-shadow: 6px -1px 5px 5px black;
    //       }
    //     }
    //     > li {
    //       border-radius: 2px;
    //       position: relative;
    //       background-color: lightslategrey;
    //       height: 300px;
    //       margin-right: 0;
    //       writing-mode: vertical-rl;
    //       text-orientation: sideways-right;
    //       padding: calc(var(--space) * 2) calc(var(--space) / 2);
    //       color: white;
    //       font-weight: bold;
    //       vertical-align: baseline;
    //       line-height: 1;
    //       display: flex;
    //       text-align: end;
    //       align-items: flex-end;
    //       justify-content: center;
    //       flex-direction: column;
    //       transition: box-shadow 0.4s, transform 0.5s;
    //       box-shadow: -10px 5px 20px transparent;
    //       border-left: 3px solid rgba(0, 0, 0, 0.4);
    //       border-right: 3px solid rgba(0, 0, 0, 0.4);

    //       &::before {
    //         content: '';
    //         position: absolute;
    //         top: 0;
    //         width: 100%;
    //         height: 100%;
    //         opacity: 0.3;
    //         z-index: 0;
    //         background-size: 200px;
    //         background-image: url('https://www.textures.com/system/gallery/photos/Fabric/Leather/38132/Leather0041_1_350.jpg');
    //       }

    //       &::after {
    //         content: '';
    //         position: absolute;
    //         top: 0;
    //         width: 100%;
    //         height: 100%;
    //         z-index: 0;
    //         background-image: linear-gradient(
    //           transparent 5%,
    //           gold 6%,
    //           gold 6%,
    //           transparent 6%,
    //           transparent 94%,
    //           gold 95%,
    //           gold 95%,
    //           transparent 95%
    //         );
    //       }

    //       &:hover {
    //         transform: scale(110%) translateX(-5%);
    //         box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4),
    //           -10px 5px 20px rgba(0, 0, 0, 0.4);
    //       }

    //       img {
    //         width: 30px;
    //       }

    //       h3 {
    //         text-transform: uppercase;
    //       }
    //       span {
    //         font-weight: 300;
    //         font-size: 70%;
    //       }
    //     }
    //   }
    // }

    &.posters {
      width: 100vw;
      overflow-x: auto;
      display: flex;
      height: 500px;
      padding: var(--space) 0;
      img {
        margin: 0 calc(var(--space) / 2);
      }
    }
  }
}

.bookShelf {
  display: flex;
  width: 100vw;
  overflow-x: auto;
  padding: calc(var(--space) * 2) 0 calc(var(--space) * 2.7) 0;
  .book > a {
    position: relative;
    min-width: 25px;
    height: 20rem;
    align-items: flex-end;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform-style: preserve-3d;
    transform: rotateX(-2deg) rotateY(-2deg) translateZ(0) scaleY(1);
    border-radius: 2px;
    color: black;
    font-weight: bold;
    vertical-align: baseline;
    line-height: 1;
    text-align: end;
    z-index: 1;
    animation: backBook 0.5s linear;
    // box-shadow: -10px 5px 20px transparent;
    // border-left: 3px solid rgba(0, 0, 0, 0.4);
    // border-right: 3px solid rgba(0, 0, 0, 0.4);

    &:hover {
      opacity: 1;
      animation: getBook 1s linear forwards;
    }

    .author {
      font-size: 80%;
      text-transform: uppercase;
      z-index: 2;
      color: gold;
      opacity: 0.8;
      text-shadow: rgba(0, 0, 0, 0.2) 1px 0, rgba(0, 0, 0, 0.2) -1px 0, rgba(0, 0, 0, 0.2) 0 1px, rgba(0, 0, 0, 0.2) 0 -1px;
    }
    .title {
      font-weight: 300;
      font-size: 70%;
      z-index: 2;
      text-shadow: rgba(0, 0, 0, 0.2) 1px 0, rgba(0, 0, 0, 0.2) -1px 0, rgba(0, 0, 0, 0.2) 0 1px, rgba(0, 0, 0, 0.2) 0 -1px;
      opacity: 0.8;
      color: white;
    }

    .side {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      &.front {
        background: inherit;
        padding: calc(var(--space) * 2) calc(var(--space) / 2);
        width: calc(100% - var(--space) / 2 * 2);
        height: calc(100% - var(--space) * 2 * 2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        // flex-direction: column;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 100%;
          opacity: 0.3;
          z-index: 0;
          background-size: 200px;
          background-image: url('../../assets/images/leather_texture.jpeg');
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.3) 5%,
              rgba(0, 0, 0, 0.2) 9%,
              transparent,
              rgba(0, 0, 0, 0.2) 91%,
              rgba(0, 0, 0, 0.3) 95%
            ),
            linear-gradient(
              transparent 5%,
              gold 6%,
              gold 6%,
              transparent 6%,
              transparent 94%,
              gold 95%,
              gold 95%,
              transparent 95%
            );
        }

        .author {
          text-align: start;
          flex: 1 0 50%;
        }
        .title {
          text-align: end;
        }
      }

      // &.back {
      //   top: 4px;
      //   height: calc(100% - 4px * 2);
      //   transform: translateZ(-15rem);
      //   background: white;
      // }

      &.left {
        left: 0;
        width: 15rem;
        transform-origin: left;
        transform: rotateY(90deg);
        background: inherit;
      }

      &.right {
        width: calc(15rem - 2rem * 2);
        padding: 0 2rem;
        left: initial;
        transform-origin: right;
        transform: rotateY(90deg) translateX(100%);
        background: inherit;
        writing-mode: initial;
        text-orientation: initial;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        flex-direction: column;
        line-height: 1.2;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          opacity: 0.3;
          z-index: 0;
          background-size: 200px;
          background-image: url('../../assets/images/leather_texture.jpeg');
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.2),
              transparent,
              rgba(0, 0, 0, 0.2) 5%,
              transparent 5.5%
            ),
            linear-gradient(
              transparent 5%,
              gold 6%,
              gold 6%,
              transparent 6%,
              transparent 94%,
              gold 95%,
              gold 95%,
              transparent 95%
            );
        }
      }

      &.top {
        top: 4px;
        height: calc(15rem - 4px);
        transform-origin: top center;
        transform: rotateX(-90deg);
        background-image: repeating-linear-gradient(to right, gray, white 2px);
        opacity: 1;
      }

      // &.bottom {
      //   top: auto;
      //   bottom: 0;
      //   height: 15rem;
      //   transform-origin: bottom;
      //   transform: rotateX(90deg);
      //   background: white;
      // }
    }
  }
}

@keyframes getBook {
  0% {
    z-index: 1;
    transform: rotateX(-2deg) rotateY(-2deg) translateZ(0);
  }
  50% {
    z-index: 1;
    transform: rotateX(-2deg) rotateY(-2deg) translateZ(20rem);
  }
  100% {
    z-index: 10;
    transform: rotateY(-75deg) rotateZ(5deg) translateX(10rem)
     translateZ(10rem) scale(1.05);
  }
}

@keyframes backBook {
  0% {
    transform: rotateX(-2deg) rotateY(-2deg) translateZ(20rem);
  }
  100% {
    transform: rotateX(-2deg) rotateY(-2deg) translateZ(0);
  }
}
