.skill-item {
  padding: 0 calc(var(--space) / 2);
  border-radius: var(--space);
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin-right: calc(var(--space) / 4);
  margin-bottom: calc(var(--space) / 4);
  opacity: 0.8;
  line-height: 1.5;
  font-size: 0.7rem;
  transition: 0.4s;
  white-space: nowrap;

  &.highlighted {
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  &.is-text {
    margin-right: 0;
  }
}
