@import "constants.scss";

.about-story {
  article {
    font-weight: 100;
    .article-text-content {
      width: 60%;
      opacity: 0.8;
      height: 100%;
      transition: 1s background-color;
      @media screen and (max-width: $mq-laptop) {
        width: 100%;
        padding-bottom: 100vh;
        -webkit-mask-image: linear-gradient(to top, transparent 35%, black 55%);
        mask-image: linear-gradient(to top, transparent 35%, black 55%);
      }
    }
    .story-sprite {
      margin: auto;
    }
  }
}
