@import "constants.scss";

.about-socials {
  margin: #{$header-height} 0 0 0;
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .socials-item {
    display: block;
    height: 1.5rem;
    margin: 0.5rem;
    > svg {
      width: 100%;
      height: 100%;
    }
  }
}
