.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

span.highlighted {
  font-size: 100% !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}

body {
  background-color: #ffffff;
  font-size: 32px;
}

header {
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px * 2);
  height: 60px;
  font-size: 60%;
  padding: 0 20px;
}

/* lang menu */
.lang-button-group {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.lang-button-group .lang-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: none;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100px;
  margin: 0 5px;
  padding: 0;
  transition: 0.5s;
  cursor: pointer;
  background-color: #ffffff;
  text-decoration: none;
  transform: scale(0);
  box-shadow: 0 0 5px #cccccc;
  color: #000000;
}
.lang-button-group .lang-button.lang-button--large {
  margin: 0 0 0 10px;
  position: relative;
  transform: scale(1);
}
.lang-button-group .lang-button .earth {
  position: absolute;
  display: block;
  top: 7.5%;
  left: 7.5%;
  width: 85%;
  height: 85%;
  transition: 300ms;
}
.lang-button-group:hover > a.lang-button {
  transform: scale(0.8);
}
/* lang menu end */

main {
  width: calc(1000px - 2em * 2);
  height: calc(1600px - 2em * 2);
  margin: 20vh auto;
  padding: 2em;
  box-shadow: 0 0 5em #eeeeee;
  background-color: #ffffff;
  transition: 500ms;
}

main:hover {
  box-shadow: 0 0 5em #cccccc;
}

section {
  width: 100%;
}

section.basic-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

section.basic-info > .text {
  flex: 1 0 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

section.basic-info > .text > h1 {
  line-height: 1;
  margin-bottom: 0.1em;
  font-weight: normal;
  font-size: 150%;
  text-transform: uppercase;
}

section.basic-info > .text > h2 {
  line-height: 1;
  font-weight: 100;
  font-size: 60%;
  text-transform: lowercase;
}

section.basic-info > .contacts {
  flex: 0 1 30%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  font-size: 40%;
}

section.basic-info > .contacts > .contact-item {
  margin: 0.2em 0;
  color: inherit;
  text-decoration: none;
}

section.basic-info > .contacts > .contact-item > svg {
  height: 1em;
  margin: 0 0.5em;
}

section.main-info {
  display: flex;
  flex-wrap: wrap;
}

section.main-info > section {
  border-top: 1px solid #000000;
  padding-top: 1em;
}

section.main-info > section > article {
  margin-bottom: 1em;
}

section.main-info > section h3 {
  line-height: 1;
  font-weight: normal;
  font-size: 70%;
  text-transform: uppercase;
  margin-bottom: 0.6em;
}

section.main-info > section h4 {
  margin-top: 0.6em;
  line-height: 1;
  font-weight: bold;
  font-size: 50%;
}

section.main-info > section p,
section.main-info > section li,
section.main-info > section span {
  line-height: 1.2;
  font-weight: 100;
  font-size: 50%;
  opacity: 0.8;
  margin: 0.1em 0;
}

section.main-info > section p {
  text-indent: 1em;
}

section.main-info > section.main-info-left {
  flex: 1 0 calc(70% - 2em - 1px);
  padding-right: 1em;
  border-right: 1px solid #000000;
}

section.main-info > section.main-info-left > .experience .time {
  font-style: italic;
  font-weight: 500;
  font-size: 90%;
}

section.main-info > section.main-info-right {
  flex: 0 1 calc(20% - 1em);
  padding-left: 1em;
}

section.main-info > section.main-info-right > .link {
  display: none;
}

section.main-info > section.main-info-right > .link > picture {
  width: 100%;
  margin-top: 0.1em;
}
section.main-info > section.main-info-right > .link > picture > * {
  width: 100%;
}

/* print rules */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    box-shadow: none !important;
    text-shadow: none !important;
  }
  body {
    height: 100%;
    font-size: 25px;
  }
  main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body > *:not(main) {
    display: none;
  }
  section.main-info > section.main-info-right > .link {
    display: block;
  }

  @page {
    margin: 10mm;
  }
}
/* print rules end */

@media screen and (max-width: 1024px) {
  body {
    height: auto;
  }
  header {
    background-color: #ffffff;
    z-index: 5;
  }
  main {
    width: calc(100% - 0.5em * 2);
    height: calc(100% - 0.5em * 2);
    padding: 3em 0.5em 1em 0.5em;
    margin: 0;
  }
  section.basic-info {
    flex-direction: column;
    padding: 0;
  }
  section.basic-info > .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2em 0 0.5em 0;
  }
  section.basic-info > .contacts > .contact-item {
    flex-direction: row-reverse;
    margin: 0.5em 1.5em 0 0;
  }
  section.basic-info > .contacts > .contact-item > svg {
    height: 1.5em;
    margin: 0 0.5em 0 0;
  }
  section.main-info > section.main-info-left {
    flex: 100%;
    border-right: none;
    padding-right: 0;
  }
  section.main-info > section.main-info-right {
    flex: 100%;
    padding-left: 0;
    padding-top: 0;
    border-top: none;
  }
}
